#dashboard_graphic_and_informations{
    position: absolute;
    left: 2.5%;
    top: 25rem;
    height: 28rem;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#dashboard_especifcs_informations{
    position: absolute;
    left: 2.5%;
    top: 1rem;
    height: 23rem;
    width: 95%;
}

@media (min-width: 1000px){
    #dashboard_graphic_and_informations{
        top: 5rem;
    }
}