{% extends 'base_page_adm.html' %}

{% block links %}

    <script src="{{ url_for('static', filename = 'scripts/principal/graphic_principal.js')}}" defer></script>
    <script src="{{ url_for('static', filename = 'scripts/principal/consts.js')}}" defer></script>
    <script src="{{ url_for('static', filename = 'scripts/principal/functions_graphic.js')}}" defer></script>
    <script src="{{ url_for('static', filename = 'scripts/principal/curso_grafico.js')}}" defer></script>

{% endblock %}

{% block conteudo_adm %}
<main id="dashboard_principal_screen">
    <div id="dashboard_visao_geral">
        <div id="dashboard_graphic_and_informations">
            <div id="dashboard_graphic_main">
                <canvas id="main_graphic" height="40" width="100"></canvas>
            </div>
        </div>
        <div id="dashboard_especifcs_informations">
            <h2 id="h2_curso">Curso</h2>
            <div id="informations_datas">
                <table id="tabela_informations_dashboard">
                    <tr class="line_principal_of_table">
                        <th>Causa</th>
                        <th>Média</th>
                        <th>Desvio Padrão</th>
                        <th>Maior Valor</th>
                        <th>Período Maior Valor</th>
                        <th>Menor Valor</th>
                        <th>Período Menor Valor</th>
                    </tr>
                    <tr>
                        <th>Taxa de Evasão (%)</th>
                        <th id="media_taxa_evasao">0</th>
                        <th id="desvio_taxa_evasao">0</th>
                        <th id="maior_taxa_evasao">0</th>
                        <th id="periodo_maior_taxa_evasao">0</th>
                        <th id="menor_taxa_evasao">0</th>
                        <th id="periodo_menor_taxa_evasao">0</th>
                    </tr>
                    <tr class="line_secondary_table">
                        <th>Total de Evadidos</th>
                        <th id="media_total_evadidos">0</th>
                        <th id="desvio_total_evadidos">0</th>
                        <th id="maior_total_evadidos">0</th>
                        <th id="periodo_maior_total_evadidos">0</th>
                        <th id="menor_total_evadidos">0</th>
                        <th id="periodo_menor_total_evadidos">0</th>
                    </tr>
                    <tr>
                        <th>Dispensados Período Anterior</th>
                        <th id="media_dispensados_periodos_anterior">0</th>
                        <th id="desvio_dispensados_periodos_anterior">0</th>
                        <th id="maior_dispensados_periodos_anterior">0</th>
                        <th id="periodo_maior_dispensados_periodos_anterior">0</th>
                        <th id="menor_dispensados_periodos_anterior">0</th>
                        <th id="periodo_menor_dispensados_periodos_anterior">0</th>
                    </tr>
                    <tr class="line_secondary_table">
                        <th>Trancados Período Anterior</th>
                        <th id="media_trancados_periodo_anterior">0</th>
                        <th id="desvio_trancados_periodo_anterior">0</th>
                        <th id="maior_trancados_periodo_anterior">0</th>
                        <th id="periodo_maior_trancados_periodo_anterior">0</th>
                        <th id="menor_trancados_periodo_anterior">0</th>
                        <th id="periodo_menor_trancados_periodo_anterior">0</th>
                    </tr>
                    <tr>
                        <th>Matriculados Global Período Anterior</th>
                        <th id="media_matriculados_global_periodo_anterior">0</th>
                        <th id="desvio_matriculados_global_periodo_anterior">0</th>
                        <th id="maior_matriculados_global_periodo_anterior">0</th>
                        <th id="periodo_maior_matriculados_global_periodo_anterior">0</th>
                        <th id="menor_matriculados_global_periodo_anterior">0</th>
                        <th id="periodo_menor_matriculados_global_periodo_anterior">0</th>
                    </tr>
                    <tr class="line_secondary_table">
                        <th>Matriculados Período Anterior</th>
                        <th id="media_matriculados_periodo_anterior">0</th>
                        <th id="desvio_matriculados_periodo_anterior">0</th>
                        <th id="maior_matriculados_periodo_anterior">0</th>
                        <th id="periodo_maior_matriculados_periodo_anterior">0</th>
                        <th id="menor_matriculados_periodo_anterior">0</th>
                        <th id="periodo_menor_matriculados_periodo_anterior">0</th>
                    </tr>
                    <tr>
                        <th>Retidos</th>
                        <th id="media_retidos">0</th>
                        <th id="desvio_retidos">0</th>
                        <th id="maior_retidos">0</th>
                        <th id="periodo_maior_retidos">0</th>
                        <th id="menor_retidos">0</th>
                        <th id="periodo_menor_retidos">0</th>
                    </tr>
                    <tr class="line_secondary_table">
                        <th>Taxa de Retenção (%)</th>
                        <th id="media_taxa_retencao">0</th>
                        <th id="desvio_taxa_retencao">0</th>
                        <th id="maior_taxa_retencao">0</th>
                        <th id="periodo_maior_taxa_retencao">0</th>
                        <th id="menor_taxa_retencao">0</th>
                        <th id="periodo_menor_taxa_retencao">0</th>
                    </tr>
                    <tr>
                        <th>Matriculados</th>
                        <th id="media_matriculados">0</th>
                        <th id="desvio_matriculados">0</th>
                        <th id="maior_matriculados">0</th>
                        <th id="periodo_maior_matriculados">0</th>
                        <th id="menor_matriculados">0</th>
                        <th id="periodo_menor_matriculados">0</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="dashboard_main_painel active">
        <h3>Selecione o curso</h3><br>
        <div id="painel_select_curso">
            <select id="curso_selecionado">
                <option value="cc"> Ciência da Computação </options>
                <option value="ecm"> Eng. da Computação (M) </options>
                <option value="ecv"> Eng. da Computação (V) </options>
                <option value="si"> Sistemas de Informação </options>
            </select>
        </div><br>
        <h3>Selecione a causa</h3><br>
        <div id="painel_select_causa">
            <p><input id="TaxadeEvasao" value="TaxadeEvasao" type="checkbox"> Taxa de Evasão</p>
            <p><input id="TotaldeEvadidos" value="TotaldeEvadidos" type="checkbox"> Total de Evadidos</p>
            <p><input id="DispensadosPeriodoAnterior" value="DispensadosPeriodoAnterior" type="checkbox"> Dispensados Período Anterior</p>
            <p><input id="TrancadosPeriodoAnterior" value="TrancadosPeriodoAnterior" type="checkbox"> Trancados Período Anterior</p>
            <p><input id="MatriculadosGlobalPeriodoAnterior" value="MatriculadosGlobalPeriodoAnterior" type="checkbox"> Matriculados Global Período Anterior</p>
            <p><input id="MatriculadosPeriodoAnterior" value="MatriculadosPeriodoAnterior" type="checkbox"> Matriculados Período Anterior</p>
            <p><input id="Retidos" value="Retidos" type="checkbox"> Retidos</p>
            <p><input id="TaxadeRetencao" value="TaxadeRetencao" type="checkbox"> Taxa de Retenção</p>
            <p><input id="Matriculados" value="Matriculados" type="checkbox"> Matriculados</p>
        </div><br>
        <h3>Selecione o intervalo</h3>
        <div id="painel_select_intervalo">
            <select id="periodo_inicial">
                <option value="2009.2">2009.2</option>
                <option value="2010.1">2010.1</option>
                <option value="2010.2">2010.2</option>
                <option value="2011.1">2011.1</option>
                <option value="2011.2">2011.2</option>
                <option value="2012.1">2012.1</option>
                <option value="2012.2">2012.2</option>
                <option value="2013.1">2013.1</option>
                <option value="2013.2">2013.2</option>
                <option value="2014.1">2014.1</option>
                <option value="2014.2">2014.2</option>
                <option value="2015.1">2015.1</option>
                <option value="2015.2">2015.2</option>
                <option value="2016.1">2016.1</option>
                <option value="2016.2">2016.2</option>
                <option value="2017.1">2017.1</option>
                <option value="2017.2">2017.2</option>
                <option value="2018.1">2018.1</option>
                <option value="2018.2">2018.2</option>
                <option value="2019.1">2019.1</option>
                <option value="2019.2">2019.2</option>
                <option value="2020.1">2020.1</option>
                <option value="2020.2">2020.2</option>
                <option value="2021.1">2021.1</option>
                <option value="2021.2">2021.2</option>
            </select>
            <select id="periodo_final">
                <option value="2009.2">2009.2</option>
                <option value="2010.1">2010.1</option>
                <option value="2010.2">2010.2</option>
                <option value="2011.1">2011.1</option>
                <option value="2011.2">2011.2</option>
                <option value="2012.1">2012.1</option>
                <option value="2012.2">2012.2</option>
                <option value="2013.1">2013.1</option>
                <option value="2013.2">2013.2</option>
                <option value="2014.1">2014.1</option>
                <option value="2014.2">2014.2</option>
                <option value="2015.1">2015.1</option>
                <option value="2015.2">2015.2</option>
                <option value="2016.1">2016.1</option>
                <option value="2016.2">2016.2</option>
                <option value="2017.1">2017.1</option>
                <option value="2017.2">2017.2</option>
                <option value="2018.1">2018.1</option>
                <option value="2018.2">2018.2</option>
                <option value="2019.1">2019.1</option>
                <option value="2019.2">2019.2</option>
                <option value="2020.1">2020.1</option>
                <option value="2020.2">2020.2</option>
                <option value="2021.1">2021.1</option>
                <option value="2021.2">2021.2</option>
            </select>
        </div>
        <div id="createData">
            <input type="submit" id="create" value="Buscar Informações">
        </div>
    </div>
</main>

{% endblock %}