<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>

    <div id="container">
        <div id="div_form_login">
            <div id="div_title_page">
                <h3 id="title_page">Login</h3>
            </div>
            <form id="form_login" action="/autentica" method="post">
                <div id="div_usuario">
                    <label for="usuario">Email</label>
                    <input type="text" name="usuario" id="form_usuario" placeholder="teste@teste.com">
                </div>
                <div id="div_senha">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="form_senha" placeholder="********">
                </div>
                <div id="esqueceu_a_senha">
                    <a href="#" id="esqueceu">esqueceu a senha?</a>
                </div>
                <div id="entrar_criar">
                    <div id="entrar_usuario">
                        <input id="entrar" type="submit" value="Entrar" name="entrar">
                    </div>
                    <div id="criar_usuario">
                        <input id="criar" type="submit" value="Criar usuário" name="criar">
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>